<div class="addproductphoto">
  <div class="addphoto ">
    <div ng-controller="productPhotosCtrl">
      <form id="add_photo" uploader="uploader">
        <input type="file" nv-file-select="" uploader="uploader" multiple/><br/>
        <div ng-repeat="item in uploader.queue" class="ng-scope">
        <p><strong>{{ item.file.name }}</strong></p>
        </div>
        <button ng-click="uploader.uploadAll()">Загрузить все</button>
      </form>
    </div>
  </div>
</div>

<div class="productphotolist">
  <h4 class="text-center">Фотографии товара</h4>
  <div class="photo" ng-repeat="photo in product.photos">
    <img ng-src="{{photo.image.middle.url}}" alt="">
    <div class="productphotolist-photo_icon" ng-controller="productPhotosCtrl">
      <img src="/assets/icon/mainphoto.png" alt="" 
      ng-if="product.cover_photo_id != photo.id"
      ng-click="set_main(product.id, photo.id)">
      <img src="/assets/icon/trash.png" alt=""
      ng-click="delete(photo.id)">
    </div>
  </div>
</div>