<div class="col-md-3 col-xs-12 admin-sidebar_right_position">
	<div class="admin-sidebar_right">
		<div class="addproduct">
			<a href="/admin/addnewproduct"><md-button class="md-raised md-primary" >{{'ADMIN_PRODUCT_BUTTON_ADD' | translate }}</md-button></a>
		</div>
	</div>
	<div class="admin-sidebar_right" style="z-index:2; position: relative;">
		<div class="addproduct" ng-show="!showShadowScreen">
			<a href="#" ng-click="clickedOnChangeOrder()" ><md-button class="md-raised md-primary"  >Редактировать порядок</md-button></a>
		</div>
		<div class="addproduct" ng-show="showShadowScreen">
			<a href="#" ng-click="clickedOnChangeOrder()"><md-button class="md-raised md-primary-green" style="color: rgb(255, 255, 255); background: rgb(76, 175, 80);" >Сохранить</md-button></a>
		</div>
		<div class="addproduct" ng-show="showShadowScreen">
			<a href="#" ng-click="clickedOnChangeOrder()"><md-button class="md-raised "  >Отмена</md-button></a>
		</div>
	</div>
</div>
<div class="col-md-7 col-xs-12 adminproduct_position">
	<adminproduct></adminproduct>
</div>
