<div class="admin-sidebar_left" ng-controller="headerCtrl">
	<li><a href="/admin/main">{{'ADMIN_SIDEBAR_MAIN' | translate }}</a></li>
	<li><a href="/admin/product">{{'ADMIN_SIDEBAR_PRODUCTS' | translate }}</a></li>
	<li><a href="/admin/category">{{'ADMIN_SIDEBAR_CATEGORIES' | translate }}</a></li>
	<li><a href="/admin/pages">{{'ADMIN_SIDEBAR_PAGES' | translate }}</a></li>
	<li><a href="/admin/invoices">{{'ADMIN_SIDEBAR_ORDERS' | translate }}</a></li>
	<hr>
	<li><a href="/admin/sendemail">{{'ADMIN_SIDEBAR_SEND_EMAIL' | translate }}</a></li>
	<hr>
	<li ng-click="changeLanguage('en')">{{'CHANGE_LANGUAGE_ENGLISH_BUTTON' | translate }}</li>
	<li ng-click="changeLanguage('ru')">{{'CHANGE_LANGUAGE_RUSSIAN_BUTTON' | translate }}</li>
	<li ng-click="changeLanguage('ua')">{{'CHANGE_LANGUAGE_UKRAINE_BUTTON' | translate }}</li>
</div>