<div class="admin-main">
  <h2>{{'ADMIN_MAIN_SECTION_TITLE' | translate }}</h2><br>    
  <form action="">
    <md-input-container class="md-icon-float md-block">
      <label>{{'ADMIN_MAIN_SECTION_NAME_SITE' | translate}}</label>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-input-container class="md-block">
      <label>{{'ADMIN_MAIN_SECTION_TEXT_MAIN_PAGE' | translate}}</label>
      <textarea ng-model="newProduct.description" rows="5" cols="5" md-select-on-focus></textarea>
    </md-input-container>

    <h3>{{'ADMIN_MAIN_SECTION_CONTACTS' | translate}}</h3></br> 

    <md-input-container class="md-icon-float md-block">
      <label>{{'ADMIN_MAIN_SECTION_CONTACTS_PHONE' | translate}}</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>{{'ADMIN_MAIN_SECTION_CONTACTS_EMAIL' | translate}}</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <h3>{{'ADMIN_MAIN_SECTION_SOCIAL' | translate}}</h3></br> 

    <md-input-container class="md-icon-float md-block">
      <label>{{'ADMIN_MAIN_SECTION_SOCIAL_VK' | translate}}</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>{{'ADMIN_MAIN_SECTION_SOCIAL_FACEBOOK' | translate}}</label>
      <md-icon md-svg-src="/assets/images/icon/facebook.png" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>{{'ADMIN_MAIN_SECTION_SOCIAL_INTAGRAM' | translate}}</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-button class="md-raised md-primary">{{'ADMIN_MAIN_SECTION_BUTTON' | translate}}</md-button>
  </form>
</div>  
