<title>{{product.name}} | CandyLadyShop</title>
	<meta name="description" content="{{product.name}}. Заказать женское нижнее белье по доступной цене. Страница товара {{product.name}}." />

<div ng-include="'header/header.html'"></div>
<!-- Хлебные крошки -->
<div class="container-fluid breadcrumb">
	<div class="row">
		<div class="col-md-12">
			<div xmlns:v="http://rdf.data-vocabulary.org/#">
				<span typeof="v:Breadcrumb">
				<a href="/" rel="v:url" property="v:title"> CandyLadyShop</a> › </span>
				<span typeof="v:Breadcrumb"> <a href="/product/{{product.id}}" rel="v:url" property="v:title">{{product.name}}</a> </span>
			</div>
		</div>
	</div>
</div>
<!-- Хлебные крошки -->

<div class="container-fluid">
	<div class="row product-page">
		

		<!-- Фотки для компа -->
		<div class="col-md-offset-1 col-md-6 pc-show wow bounceInLeft" data-wow-duration="2s" style="background: #fff;box-shadow: 0 1px 8px rgba(0,0,0,0.3)">
			<ul class="product-thumbs">
			  <div class="gallery" ng-controller="productCtrl as ctrl">
          <ng-gallery images="ctrl.images" thumbs-num="11"></ng-gallery>
        </div>
			</ul>
			<div class="product-images">
			  <img 
			  ng-src="{{product.photos[0].image.url}}"  
			  class="product-images_main"
			  />
			</div>


			<!-- <ul class="product-thumbs">
			  <li ng-repeat="img in product.photos">
			    <img src="{{img.image.url}}" ng-click="setImage(img.image.url)" />
			  </li>
			</ul>
			<div class="product-images">
			  <img 
			  ng-src="{{img.image.url}}"  
			  class="product-images_main"
			  ng-class="{selected: img.image.url === mainImageUrl}"
			  ng-repeat="img in product.photos" />
			</div> -->
			<div ng-if="product.has_popular" class="haspopularphoto-product" style="top:-8px;">
				<span class="haspopular">Топ продаж</span>	
			</div>
		</div>
		<!-- Фотки для компа -->
		<!-- Информация о продукте -->
		<div class="col-md-4 wow bounceInRight" data-wow-duration="2s">
			<div class="product-page_info">
				<div class="row">
					<div class="col-md-6 col-xs-6">
						<h4>{{product.name}} 
							<br><h6>Артикул: {{product.permalink}}</h6>
						</h4>
					</div>
					<div class="col-md-6 col-xs-6">
						<h4 class="pull-right" ng-class="product.in_stock ? 'in_stock-true' : 'in_stock-false'">{{product.in_stock ? 'В наличии' : 'Нет в наличии'}}</h4>
					</div>
				</div>

				<hr class="productpageline">

				<p class="product-price text-center">
					<span ng-class="product.sale_price ? 'sale-true' : 'sale-false'">{{product.price}} <i class="fa fa-rub" aria-hidden="true"></i></span>
					<br><span ng-if="product.sale_price">{{product.sale_price}} <i class="fa fa-rub" aria-hidden="true"></i></span>
				</p>

				<hr class="productpageline">
				
				<div class="text-center">
					<md-input-container>
		        <label>Размер</label>
		        <md-select ng-model="product_size">
		          <md-option ng-repeat="size in product.sizes" value="{{size}}">
		            {{size}}
		          </md-option>
		        </md-select>
		      </md-input-container>
		      <md-input-container>
		        <label>Цвет</label>
		        <md-select ng-model="product_color">
		          <md-option ng-repeat="color in product.colors" value="{{color}}">
		            {{color}}
		          </md-option>
		        </md-select>
		      </md-input-container>
				</div>
				
	      <br>
	      <div class="text-center pc-show product-addtocart">
		
					<ngcart-addtocart id="{{product.id}}" name="{{product.name}}" data="{color: product_color, size: product_size}" price="{{product.price}}" quantity="1">Купить</ngcart-addtocart>

				</div>
			</div>
			<h3>Описание товара:
			<br><pre>{{product.description}}</pre>
			</h3>
		</div>
		<!-- Информация о продукте -->
		<!-- Для мобилки -->
		<div class="col-md-7 mobile-show">
			<ks-swiper-container swiper="swiper" initial-slide="0" loop="true"  pagination-is-active="true" slides-per-view="1" space-between="5" pagination-clickable="false" autoplay="42500"> 
			  <ks-swiper-slide class="swiper-slide" ng-repeat="img in product.photos">
			    <img src="{{img.image.url}}" alt="">
			  </ks-swiper-slide>
			</ks-swiper-container>
			<br><md-input-container>
        <label>Размер</label>
        <md-select ng-model="product_size">
          <md-option ng-repeat="size in product.size" value="{{size}}">
            {{size}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Цвет</label>
        <md-select ng-model="product_color">
          <md-option ng-repeat="color in product.color" value="{{color}}">
            {{color}}
          </md-option>
        </md-select>
      </md-input-container>
      <br><ngcart-addtocart class="buy-button_mobile" id="{{product.name}}" name="{{product.name}}" data="{color: product_color, size: product_size}" price="{{product.price}}" quantity="1">Купить</ngcart-addtocart>
		</div>
		<!-- Для мобилки -->
	</div>
</div>

<div class="container-fluid">
	<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Новинки">
        <md-content class="md-padding">
          <div class="row">
						<div ng-repeat="product in products | orderBy:product.id:reverse | limitTo:4 ">
							<div class="col-md-3">
								<div class="product">
									<a href="/product/{{product.id}}">
									<div class="product-photo">
										<mainphotoproduct></mainphotoproduct>
									</div>
									<h4>{{product.name}}</h4>
									</a>
									<h4>{{product.price}} <i class="fa fa-rub" aria-hidden="true"></i></h4>
									<ngcart-addtocart  id="{{product.id}}" name="{{product.name}}" data="{color: product_color, size: product_size}" price="{{product.price}}" quantity="1">Купить</ngcart-addtocart>
								</div>
							</div>
						</div>
					</div>
        </md-content>
      </md-tab>
      <md-tab label="Популярное">
        <md-content class="md-padding">
          <div class="row">
						<div ng-repeat="product in products | limitTo:4 | filter: haspopularFilter">
							<div class="col-md-3">
								<div class="product">
									<a href="/product/{{product.id}}">
									<div class="product-photo">
										<mainphotoproduct></mainphotoproduct>
									</div>
									<h4>{{product.name}}</h4>
									</a>
									<h4>{{product.price}} <i class="fa fa-rub" aria-hidden="true"></i></h4>
									<ngcart-addtocart  id="{{product.id}}" name="{{product.name}}" data="{color: product_color, size: product_size}" price="{{product.price}}" quantity="1">Купить</ngcart-addtocart>
								</div>
							</div>
						</div>
					</div>
        </md-content>
      </md-tab>
      <md-tab label="Скидки">
        <md-content class="md-padding">
          <div class="row">
						<div ng-repeat="product in products | limitTo:4">
							<div class="col-md-3">
								<div class="product">
									<a href="/product/{{product.id}}">
									<div class="product-photo">
										<mainphotoproduct></mainphotoproduct>
									</div>
									<h4>{{product.name}}</h4>
									</a>
									<h4>{{product.price}} <i class="fa fa-rub" aria-hidden="true"></i></h4>
									<ngcart-addtocart  id="{{product.id}}" name="{{product.name}}" data="{color: product_color, size: product_size}" price="{{product.price}}" quantity="1">Купить</ngcart-addtocart>
								</div>
							</div>
						</div>
					</div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<div ng-include="'footer/footer.html'"></div>
<script>
	$('img').elevateZoom({zoomType:"inner"});
</script>

<script type="text/javascript">
	new WOW().init();
</script>
