<div ng-include="'header/admin/headeradmin.html'"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <adminsidebar></adminsidebar>     
    </div>
    <div class="col-md-10">
      <div class="container-fluid">
        <h3><a href="/admin/product/{{product.id}}">Фотографии для {{product.name}}</a></h3>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4 album-photo_thumb" ng-repeat="photo in product.photos">
              <img ng-src="{{photo.image.thumb.url}}" alt="">
              <div class="text-center">
                <button class="btn btn-info btn-md" ng-if="product.cover_photo_id != photo.id" ng-click="set_main(product.id, photo.id)">Сделать главной</button>
                <button class="btn btn-danger btn-md" ng-click="delete(photo.id)">Удалить</button>
              </div>
            </div>  
          </div>
        </div>
              

                <form id="add_photo" uploader="uploader">
                  <input type="file" nv-file-select="" uploader="uploader" multiple/><br/>
                  <div ng-repeat="item in uploader.queue" class="ng-scope">
                  <p><strong>{{ item.file.name }}</strong></p>
                  </div>
                  <button ng-click="uploader.uploadAll()">Загрузить все</button>
                </form>
      </div>
    </div>
  </div>
</div>
