<div ng-include="'shared/headeradmin.html'"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<adminsidebar></adminsidebar>			
		</div>
		<div class="col-md-8">
			<div class="admin-welcome">
				<div class="page-header">
					<h2>Добро пожаловать!</h2>
				</div>	
				<p>Это админ панель управление вашего интернет-магазина. Здесь вы сможете легко и просто добавлять товар, редактировать его, загружать фотографии, категории и проводить тонкие настройки сайта. Все это очень просто и не потребует от вас специальных знаний.</p>
			</div>
		</div>
	</div>
</div>

