<div ng-include="'shared/headeradmin.html'"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-xs-12">
			<adminsidebar></adminsidebar>			
		</div>
		<div class="col-md-3 col-xs-12 admin-sidebar_right_position">
			<div class="admin-sidebar_right">
				<div class="addproduct">
					<a href="/admin/addnewproduct"><md-button class="md-raised md-primary" >Добавить товар</md-button></a>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-xs-12 adminproduct_position">
			<adminproduct></adminproduct>
		</div>
	</div>
</div>