<h2>Добавление новой категории</h2></br>
<form action="">
	<md-input-container class="md-icon-float md-block">
    <label>Название категории</label>
    <input ng-model="category.name" type="text">
  </md-input-container>
	
	<md-checkbox>
  	Родительская категория
  </md-checkbox>
	
	<div class="form-group select category_parent_id">
	  <label class="select control-label" for="category.parent_id">Выберите родительскую категорию</label>
	  <select class="select form-control" ng-model="category.parent_id" id="category_parent_id">
	    <option ng-repeat="category in categories" ng-if="!category.parent_id" value="{{category.id}}">{{ category.name }}</option> 
	 </select>
	</div>

  <md-button ng-click="addCategory()" class="md-raised md-primary">Добавить категорию</md-button>
</form>
