<div class="adminproductlist">
	<div class="page-header">
		  <div class="row">
		  	<div class="col-md-6">
		  		<h2>Список товаров</h2>		
		  	</div>
		  	<div class="col-md-6">
		  		<input type="text" placeholder="Поиск" ng-model="query">
		  	</div>
		  </div>
		</div>
	<div ng-repeat="product in products | filter:query">
		<div class="adminproductlist_one">
			<div class="row">
				<div class="col-md-4">
					<img src="{{product.photos[0].image.middle.url}}" alt="">
				</div>
				<div class="col-md-8">
					<h4><a href="#/product/{{product.id}}">{{product.name}}</a></h4>
					<h5>{{product.price}} &#8381;</h5>
					<a href="#/admin/product/edit/{{product.id}}"><md-button class="md-raised">Редактировать</md-button></a>
					<a href="#/admin/product/photos/{{product.id}}"><md-button class="md-raised">Фотоальбом</md-button></a>
					<md-button class="md-raised" ng-click="productDel(product.id)">Удалить</md-button>
				</div>
			</div>
		</div>	
	</div>
</div>
