<div class="admin-main">
  <h2>Основной раздел</h2><br>    
  <form action="">
    <md-input-container class="md-icon-float md-block">
      <label>Название сайта</label>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Текст для главной страницы</label>
      <textarea ng-model="newProduct.description" rows="5" cols="5" md-select-on-focus></textarea>
    </md-input-container>

    <h3>Контакты</h3></br> 

    <md-input-container class="md-icon-float md-block">
      <label>Номер телефона</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>Контактный email</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <h3>Социальные сети</h3></br> 

    <md-input-container class="md-icon-float md-block">
      <label>Ссылка VK</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>Ссылка Facebook</label>
      <md-icon md-svg-src="/assets/images/icon/facebook.png" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label>Ссылка Instagram</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="newProduct.name" type="text">
    </md-input-container>

    <md-button class="md-raised md-primary">Обновить информацию</md-button>
  </form>
</div>  
