<div class="adminproductlist">
	<div class="page-header">
	  <div class="row">
	  	<div class="col-md-6">
	  		<h2>{{'ADMIN_PRODUCT_LIST' | translate }}</h2>
	  		<filterproductincategoryandcatalog></filterproductincategoryandcatalog>
	  		<!-- <p class="adminproductlist_sort">{{'ADMIN_SORTED_BY' | translate }}: <span ng-click="predicate = 'name'; reverse=!reverse">{{'ADMIN_SORTED_BY_NAME' | translate }}</span> | <span ng-click="predicate = 'created_at'; reverse=!reverse">{{'ADMIN_SORTED_BY_DATE' | translate }}</span> | <span ng-click="predicate = 'price'; reverse=!reverse">{{'ADMIN_SORTED_BY_PRICE' | translate }}</span></p>
	  		<p>{{'ADMIN_SORTED_BY_CATEGORIES' | translate }}:</p> -->
	  		<fieldset>
				<select 
          ng-options="p.name for p in categories"
          ng-model="selected"></select>
       	
				</fieldset>
	  	</div>
	  	<div class="col-md-6">
	  		<input type="text" placeholder="{{'ADMIN_SEARCH' | translate }}" ng-model="query">
	  	</div>
	  </div>
	</div>
	<div ng-repeat="product in products | filter:query | filter: selected.name | orderBy:predicate:reverse:customCompare " >
		<div class="adminproductlist_one">
			<div class="row">
				<div class="col-md-4">
					<img src="{{product.photos[0].image.middle.url}}" alt="">
				</div>
				<div class="col-md-8">
					<h4><a href="/product/{{product.id}}">{{product.name}}</a></h4>
					<h5>{{product.price}} &#8381;</h5>
					<small>{{product.created_at | date:'short'}}</small>
					<div ng-repeat="c in product.categories">
						{{c.name}}
					</div>
					
					<a href="/admin/product/edit/{{product.id}}"><md-button class="md-raised">{{'ADMIN_PRODUCT_BUTTON_EDIT' | translate }}</md-button></a>
					<a href="/admin/product/photos/{{product.id}}"><md-button class="md-raised">{{'ADMIN_PRODUCT_BUTTON_PHOTOALBUM' | translate }}</md-button></a>
					<md-button class="md-raised" ng-click="productDel(product.id)">{{'ADMIN_PRODUCT_BUTTON_DELETE' | translate }}</md-button>
				</div>
			</div>
		</div>	
	</div>
</div>
