<div class="admincategorylist">
	<div class="page-header">
		  <div class="row">
		  	<div class="col-md-6">
		  		<h2>{{'ADMIN_CATEGORY_LIST' | translate }}</h2>		
		  	</div>
		  	<div class="col-md-6">
		  		<input type="text" placeholder="Поиск" ng-model="query">
		  	</div>
		  </div>
		</div>
	<div>
		<div class="adminpcategorylist_one">
			<div class="row" >
				<div class="col-md-12" ng-repeat="cat in categories">
				  <div class="col-md-1">
				    {{cat.id}}
				  </div>

					<div class="col-md-5">
						<p>{{cat.name}}</p>
					</div>

					<div class="col-md-1">
						<p>{{cat.parent_id}}</p>
					</div>

					<div class="col-md-3">
						<p><a href="/admin/category/edit/{{cat.id}}">{{'ADMIN_CATEGORY_EDIT' | translate }}</a></p>
					</div>
					<div class="col-md-2">
						<p ng-click="categoryDel(cat.id)">{{'ADMIN_CATEGORY_DELETE' | translate }}</p>
					</div>	
				</div>
			</div>
		</div>	
	</div>
</div>
