<h2>Редактирование категории</h2></br>
<form>
	<md-input-container class="md-icon-float md-block">
    <label>Название категории</label>
    <input ng-model="category.name" type="text">
  </md-input-container>
	
	<md-checkbox ng-click="includesCity_name('Стрелковое')">
  	Родительская категория
  </md-checkbox>
	
	<div ng-controller="categoryCtrl">
		<div class="form-group select hotel_city_name">
	    <label class="select control-label" for="hotel_city_name">Выберите родительскую категорию</label>
	    <select class="select form-control" id="hotel_city_name">
	    	<div ng-repeat="i in items">
	    		<option value="{{ i }}">{{ i }}</option>
	    	</div>
	    </select>
	  </div>
  </div>
  <md-button ng-click="editCategory()" class="md-raised md-primary">Редактировать категорию</md-button>
</form>