<div ng-include="'shared/header.html'"></div>

<div class="container">
<md-card ng-init="step3.disabled = true; step2.disabled = true; selected = 0">
<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span>Оформление заказа</span>
    </h2>
  </div>
</md-toolbar>
  <md-steppers md-dynamic-height md-selected="selected" md-stretch-steppers="always">

    <md-step label="Ваша корзина" md-complete="step1.completed" ng-disabled="step1.disabled">
      <md-content>
        <ngcart-cart></ngcart-cart>
      </md-content>
      <md-step-actions layout="row">
        <div flex layout="row" layout-align="end top">
          <a href="#/catalog"><md-button class="md-warn">Продолжить покупки</md-button></a>
          <md-button class="md-primary md-raised" ng-click="selected = 1; step1.completed = true; step2.disabled = false;" ng-disabled="ngCart.getTotalItems() === 0">Оформить заказ</md-button>
          <h2>{{$scope.ngCart.getTotalItems()}}</h2>
        </div>
      </md-step-actions>
    </md-step>

    <md-step label="Оформление заказа" md-complete="step2.completed" ng-disabled="step2.disabled">
      <form name="newinvoice" novalidate="novalidate">
        <md-content>
          <div class="col-md-12">
            <h3>Контактные данные</h3><br>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Имя</label>
              <input type="text" name="user_name" ng-model="user.name" require>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Ваш номер телефона</label>
              <input type="number" name="user_phone" ng-model="user.phone" require>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Укажите ваш адрес электронной почты</label>
              <input ng-model="user.email" type="email" require>
            </md-input-container>
            
            <h3>Адрес доставки</h3><br>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Город</label>
              <input ng-model="user.city">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Улица/Дом/Квартира</label>
              <input ng-model="user.address">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Примечания к заказу</label>
              <textarea ng-model="user.notes" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            <h3>Оплата</h3>
            <md-radio-group ng-model="user.payment_type">
              <md-radio-button value="Mango" checked> Оплата при получении </md-radio-button>
              <md-radio-button value="Banana"> Оплата картой Visa или MasterCard </md-radio-button>
            </md-radio-group>
          </div>
        </md-content>
        <md-step-actions layout="row">
          <div flex layout="row" layout-align="end top">
            <md-button class="md-warn" ng-click="selected = 0">Назад</md-button>
            <md-button type="submit" class="md-raised md-primary" ng-click="selected = 2; step2.completed = true; step3.disabled = false; updateOrder(ngCart.getCart())">Отправить</md-button>
          </div>
        </md-step-actions>
      </form>
    </md-step>
    <md-step label="Завершение" md-complete="step3.completed" ng-disabled="step3.disabled">
      <md-content>
        <h1>
        Finish
        </h1>
      </md-content>
    </md-step>
  </md-steppers>
</md-card>
</div>
<div ng-include="'shared/footer.html'"></div>
