<title>Женское нижнее белье | CandyLadyShop</title>
	<meta name="description" content="Женские нижниее белье. Купить женское нижнее белье в шоуруме CandyLadyShop. Шоурум в Санкт-Петербурге, купить в шоуруме нижнее белье." />
<div ng-include="'header/header.html'"></div>
<div class="welcome">
	<div class="welcome-text">
		<h1>Нижнее белье в наличии 
		<br>в Санкт-Петербурге</h1>	
		<br><h4>Лучшее женское нижнее белье по доступной цене</h4>
		<br><a href="/catalog"><md-button class="welcome-text_button" style="color: rgb(255, 255, 255); background: rgb(76, 175, 80);">Посмотреть каталог</md-button></a>
	</div>
</div>
<div class="container-fluid">
	<div class="row ourplus">
		<div class="col-md-4 wow fadeIn" data-wow-delay="1.5s">
			<img src="assets/bg/ik2.png" alt="">
			<h3>Большой ассортимент</h3>
			<p>В нашем магазине Вы всегда найдёте что-то своё. У нас большой выбор цветов, форм и размеров. Убедитесь в этом сами!</p>
		</div>
		<div class="col-md-4 wow fadeIn" data-wow-delay="1.8s">
			<img src="assets/bg/ik3.png" alt="">
			<h3>Доступная примерка</h3>
			<p>В наличии всегда множество различных комплектов, которые вы можете примерить в нашем шоуруме.</p>
		</div>
		<div class="col-md-4 wow fadeIn" data-wow-delay="2.1s">
			<img src="assets/bg/ik1.png" alt="">
			<h3>Быстрая доставка</h3>
			<p>Доставка по Санкт-Петербургу осуществляется на следующий день после заказа. В другие города России в течение 5 - 7 дней.</p>
		</div>
	</div>
</div>
<section id="coolone" class="wow fadeIn">
	<div class="background-color">
		<div class="container">
			<h1>CandyLadyShop - нижнее белье в Санкт-Петербурге</h1>
			<hr></hr>
			<p>Девушки в нижнем белье выглядят круче, чем без него</p>
		</div>
	</div>
</section>

<div class="margin50"></div>

<div class="container wow fadeIn" >
	<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Новинки">
        <md-content class="md-padding">
          <div class="row">
						<div ng-repeat="product in products | limitTo:4">
							<div class="col-md-3">
								<div class="product">
									<a href="/product/{{product.id}}">
									<div class="product-photo">
										<mainphotoproduct></mainphotoproduct>
									</div>
									<h4>{{product.name}}</h4>
									</a>
									<h4>{{product.price}} <i class="fa fa-rub" aria-hidden="true"></i></h4>
									<ngcart-addtocart  id="{{product.id}}" name="{{product.name}}" data="{color: product_color, size: product_size}" price="{{product.price}}" quantity="1">Купить</ngcart-addtocart>
								</div>
							</div>
						</div>
					</div>
        </md-content>
      </md-tab>
      <md-tab label="Популярное">
        <md-content class="md-padding">
          <div class="row">
						<div ng-repeat="product in products | limitTo:4 | filter: haspopularFilter">
							<div class="col-md-3">
								<div class="product">
									<a href="/product/{{product.id}}">
									<div class="product-photo">
										<mainphotoproduct></mainphotoproduct>
									</div>
									<h4>{{product.name}}</h4>
									</a>
									<h4>{{product.price}} <i class="fa fa-rub" aria-hidden="true"></i></h4>
									<ngcart-addtocart  id="{{product.id}}" name="{{product.name}}" data="{color: product_color, size: product_size}" price="{{product.price}}" quantity="1">Купить</ngcart-addtocart>
								</div>
							</div>
						</div>
					</div>
        </md-content>
      </md-tab>
      <md-tab label="Скидки">
        <md-content class="md-padding">
          <div class="row">
						<div ng-repeat="product in products | limitTo:4">
							<div class="col-md-3">
								<div class="product">
									<a href="/product/{{product.id}}">
									<div class="product-photo">
										<mainphotoproduct></mainphotoproduct>
									</div>
									<h4>{{product.name}}</h4>
									</a>
									<h4>{{product.price}} <i class="fa fa-rub" aria-hidden="true"></i></h4>
									<ngcart-addtocart  id="{{product.id}}" name="{{product.name}}" data="{color: product_color, size: product_size}" price="{{product.price}}" quantity="1">Купить</ngcart-addtocart>
								</div>
							</div>
						</div>
					</div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<button type="button" class="button-more center-block"><a href="/catalog">Перейти в каталог</a></button>


<section id="cooltwo" class="wow fadeIn" >
	<div class="background-color">
		<div class="container">
			<h1>Купить нижнее женское белье в интернет магазине CandyLadyShop</h1>
			<hr></hr>
			<p>Наши покупатели носят самое красивое нижнее белье во всем Санкт-Петербурге</p>
		</div>
	</div>
</section>

<div class="margin50"></div>
<div class="container-fluid wow fadeIn">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<div class="reviews">
				<h2>Присоединяйтесь!</h2>
				<h4>Покупайте, наслаждайтесь, делитесь эмоциями</h4>
				<div class="margin50"></div>
				<ks-swiper-container swiper="swiper" initial-slide="0" loop="true"  pagination-is-active="true" slides-per-view="1" space-between="5" pagination-clickable="false" autoplay="42500">       
			    <ks-swiper-slide class="swiper-slide" ng-repeat="review in reviews">
			    	<img src="{{review.photo}}" alt="">
			      <h3>{{review.name}}</h3>
			      <h4>{{review.description}}</h4>
			    </ks-swiper-slide>
			  </ks-swiper-container>
			</div>

			<button type="button" class="button-more center-block"><a href="https://new.vk.com/topic-8129415_29157965?offset=260" target="_blank">Больше отзывов</a></button>
		</div>
		<div class="col-md-6 pc-show">
			<div class="buynow" ng-repeat="random in products | limitTo: 1">
				<img src="https://pp.vk.me/c629220/v629220689/11247/skJ5s-7iHZA.jpg" alt="">
				<h2>1500 рублей<br>Купить сейчас!</h2>
			</div>
		</div>
	</div>
</div>

<section id="vk" class="wow fadeIn" >
	<div class="container">
		<img src="assets/icon/vk-white-128.png" alt="" style="width: 82px;">
		<h1>35,850</h1>
		<p>Присоединяйтесь и не стесняйтесь
		<br>в нашу группу <a href="https://vk.com/c_lady" target="_blank">в VK!</a></p>
	</div>
</section>

<div class="foundus wow fadeIn">
	<div class="foundus-text">
		<h2>Ищите нас в Санкт-Петербурге</h2>
		<hr></hr>
		<h4>Ст.м. Обводный канал, ул. Боровая, 52, "Мануфактура Крафт", цокольный этаж</h4>
		<hr></hr>
		<h2>+79650395745</h2>
		<a href="http://vk.com/c_lady"><img src="assets/icon/vk.png" alt=""></a>
		<a href="http://instagram.com/candy_lady_lingerie"><img src="assets/icon/instagram.png" style="height: 45px;" alt=""></a>
	</div>
</div>
<div ng-include="'footer/footer.html'"></div>

<script type="text/javascript">
	new WOW().init();
</script>