<!DOCTYPE html>
<html ng-app="MyStore">
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- header -->
	<%= render 'layouts/header' %>

	<div ui-view></div>

</body>
</html>
